fastapi
uvicorn[standard]
pandas
scikit-learn
datasets
joblib
numpy
huggingface_hub
python-multipart
openml
kaggle
python-dotenv
httpx
pydantic
sentence-transformers
sdv>=1.9.0
faker>=25.0.0
matplotlib
seaborn
